*{
    margin: 0;
}

body{
    background-color: rgba(18,18,18,0.91);
}
nav{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(18,18,18,0.91);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;

}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 8px;
}

p1{
    color: blue;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: underline;
}

p2{
    color: blue;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;

}

p2 a{
    color: blue;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
}

.companyNameAndLogo{
    display: flex;
    align-items: center;
}

.companyName{
    padding-left: 8px;
}

.logo{
    width: 60px;
    height: 60px;
    background-image: url("./modern-initial-logo-2-letters-260nw-1616783446.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
}

.GameImg1{
    width: 200px;
    height: 280px;
    background-image: url("./0_Story_cover_art.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.GameImgDetails1{
    width: 400px;
    height: 280px;
    background-image: url("./697308-o-story-playstation-2-screenshot-angel-reminding-you-you-only.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.GameImgDetails2{
    width: 400px;
    height: 280px;
    background-image: url("./714887-927204_20060223_003.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.GameImgDetails3{
    width: 400px;
    height: 280px;
    background-image: url("./10000-bullets-03.png");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.GameImgDetails4{
    width: 400px;
    height: 280px;
    background-image: url("./0 uTPP--z2hQtg-32G.gif");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.GameImg2{
    width: 200px;
    height: 280px;
    background-image: url("./24_-_The_Game.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.GameImg3{
    width: 200px;
    height: 280px;
    background-image: url("./10,000_Bullets_PAL_Cover.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.GameImg4{
    width: 200px;
    height: 280px;
    background-image: url("./Armored_Core_2_cover_art.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.bar{
    height: 6px;
    width: 90%;
    background-color: white;
}

img{
    height: 250px;
    width: 300px;
}

.menu{
    position: fixed;
    top: 60px;
    right: -150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(18,18,18,0.91);
    min-height: 150px;
    transition: 0.125s;
}

.GameDetails1{
    position: fixed;
    top: 120px;
    right: -500px;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(18,18,18,0.85);
    min-height: 150px;
    transition: 0.125s;
}
.GameDetails2{
    position: fixed;
    top: 120px;
    right: -500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(18,18,18,0.85);
    min-height: 150px;
    transition: 0.125s;
}

.GameDetails3{
    position: fixed;
    top: 120px;
    right: -500px;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(18,18,18,0.85);
    min-height: 150px;
    transition: 0.125s;
}

.GameDetails4{
    position: fixed;
    top: 120px;
    right: -500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(18,18,18,0.85);
    min-height: 150px;
    transition: 0.125s;
}


.navText{
    height: 60px;
    width: 320px;
    display: flex;
}

.navItems{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.splashLogo{
    width: 100%;
    height: 540px;
    background-image: url("./p.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.splashText{
    padding-left: 35px;
}

h1{
    color: white;
    font-family: sans-serif;
}

h2{
    color: white;
    font-family: sans-serif;
    font-size: 80px;

}
p{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}

.topContent{
     align-content: center;
     justify-content: space-around;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }

.aboutContent{
    align-content: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.smallContentBox{
    min-height: 300px;
    min-width: 380px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}


.largeContentBox1{
    min-height: 300px;
    min-width: 800px;
    max-height: 400px;
    background-image: url("./teamwork-g9c8b7152b_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.largeContentBox2{
    min-height: 300px;
    min-width: 800px;
    max-height: 400px;
    background-image: url("./v5vo241iamuz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.productContentBox{
    min-height: 300px;
    min-width: 380px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.contactContentBox{
    min-height: 300px;
    min-width: 380px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin: 15px;
}
.SocialLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.Emails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.GameTitle{
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.bottomSpace{
    min-height: 100px;
    min-width: 380px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.contentBoxtext{
    padding-left: 8px;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    margin-bottom: 4px;
}

.menuIcon{
    padding-right: 6px;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*justify-content: center;*/
    align-items: center;
    cursor: pointer;
    margin-right: 6px;
}

@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }

    .companyName {
        display: none;
    }

        .splashLogo{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 40px;
    }
}

.spaceForSign{
    padding-top: 18px;
}

@media screen and (min-width: 800px){
    .placeHolderlol{
        display: none;
    }


}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(18,18,18,0.91);
}
