*{
    margin: 0;
}

body{
    background-color: rgba(18,18,18,0.91);
}
nav{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(18,18,18,0.91);
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;

}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 8px;
}

.companyNameAndLogo{
    display: flex;
    align-items: center;
}

.companyName{
    padding-left: 8px;
}

.logo{
    width: 60px;
    height: 60px;
    background-image: url("./modern-initial-logo-2-letters-260nw-1616783446.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
}

.bar{
    height: 6px;
    width: 90%;
    background-color: white;
}

img{
    height: 250px;
    width: 300px;
}

.menu{
    position: fixed;
    top: 60px;
    right: -150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(18,18,18,0.91);
    min-height: 150px;
    transition: 0.125s;
}

.navText{
    height: 60px;
    width: 320px;
    display: flex;
}

.navItems{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.splashLogo{
    width: 100%;
    height: 540px;
    background-image: url("./p.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.splashText{
    padding-left: 35px;
}

h1{
    color: white;
    font-family: sans-serif;
}
p{
    color: white;
    font-family: sans-serif;
}
p2{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

.topContent{
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.smallContentBox{
    min-height: 300px;
    min-width: 380px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.contentBoxtext{
    padding-left: 8px;
    width: 370px;
}

.menuIcon{
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-right: 6px;
}

@media screen and (max-width: 800px){
    .logo{
        display: none;
    }
    .companyName{
        display: none;
    }

}

@media screen and (min-width: 800px){
    .placeHolderlol{
        display: none;
    }


}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(18,18,18,0.91);
}
